    <h1 class="mb-5 display-4 text-light welcome-text">Welcome, <span class="d-block">sign in to start using the app</span> </h1>
    <div class="btn-group w-50 mx-auto my-3" role="group">
        <%= link_to "Login", '/login', method: :get, class: 'btn btn-light mb-3' %>
        <%= link_to "Sign Up", '/users/new', method: :get, class: 'btn btn-light mb-3' %>
    </div>    
    </div>
